body {
    font-family: Arial, sans-serif;
    background-image: url(https://josueclopez.github.io/webp1.github.io/fondo-5njD3f9aHl-transformed.jpeg); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 20px;
    background-color: transparent; /* Cambiar el color de fondo a transparente */
    backdrop-filter: blur(10px); /* Aplicar un efecto de desenfoque al contenedor */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    color: #fff; /* Cambiar el color del texto para que sea legible */
}

/* ... Otros estilos ... */




@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}
button {
    /* Estilos existentes ... */

    /* Establece la animación de parpadeo */
    animation: pulse 2s infinite;
}

/* Define la animación de parpadeo */
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

